   {% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900;
  text-align: center;
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
    <img src="https://live.staticflickr.com/33/58707688_db49fddf9a_b.jpg" alt="Image result for Malia, Greece" width="400" height="325" align="right" style="padding: 20px">
   <h2>Affordability – Nightlife<br>
    Malia, Greece</h2>
    <p>Move over Ibiza, Malia is the Mediterranean’s new party capital. <br>If you’re ready to party from sundown to sunrise, <br>then the Malia Strip is the place for you. <br>Found behind the town’s main beach, it’s stuffed full of bars, pubs and clubs, <br>offering partygoers a fantastic night out. <br>Drinks, accommodation and entry all at unbeatable prices<br> that won’t break the bank.</p>
 </body>
 </html>
{% endblock %}