     {% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900;
  text-align: center;
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
    <img src="https://images.wowcher.co.uk/images/deal/9942552/777x520/418537.jpg" alt="Image result for Rome, Italy" width="400" height="325" align="right" style="padding: 20px">
    <h2>Affordability – Culture<br>
    Rome, Italy</h2>
    <p>visit Italy’s capital, a sprawling, cosmopolitan city with <br>nearly 3,000 years of globally influential art, architecture and culture on display. <br>See ancient ruins such as the Forum and the Colosseum, <br> while staying in one of Rome’s many affordable hotels.<br> A heady mix of haunting ruins, awe-inspiring art and vibrant street life, Italy’s hot-blooded capital <br>is one of the world’s most romantic and charismatic cities. <br>So not to fear, you can definitely journey into the past on a budget.</p> 
 </body>
 </html>
{% endblock %}