{% extends 'layout.html' %}

{% block body %}
<style>

div {
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

h1 {
	text-align: center;
	font-family: "segoe script";
	color: midnightblue;
}

p {
	text-align: center;
	font-family: "high tower text";
	font-weight: 900;
	font-size: 18px;
	color: midnightblue;
}

</style>
	<h1>About Us...</h1>
	<img src="https://images.assetsdelivery.com/compings_v2/rastudio/rastudio1701/rastudio170101901.jpg"width="290" height="280" alt="Image result for blank image of three people" align="left" style="padding: 10px">
	<img src="https://www.telegraph.co.uk/content/dam/Travel/2018/February/couple-beach-holiday-chairs.jpg?imwidth=450"width="350" height="280" alt="Image result for blank image of three people" align="right" style="padding: 10px">
	<p>We created this website, mainly, because we are excited <br>by the propspect of exploring the unknown. <br> But, with opportunities to travel now greater than ever before <br>(still speaking pre-Brexit), we are completely spoilt for choice. <br> How does anyone ever decide? <br> We have devised a simple questionnaire that offers a <br>personalised suggestion based on your holiday preferences, <br>to provide spark for thought and to kickstart a few ideas! <br> So don't waste long hours getting nowhere! <br> Select your favourite two features and let us narrow it down for you :) <br></p>
	<br>
{% endblock %}

