{% extends 'layout.html' %}

{% block body %}
<style>

div {
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

h1 {
	text-align: center;
	font-family: "segoe script";
	color: midnightblue;
}

p {
	text-align: right;
	font-family: "high tower text";
	font-weight: 900;
	font-size: 18px;
	color: midnightblue;
	font-style: italic;
}

</style>
	<h1>About Us...</h1>
	<img src="https://images.assetsdelivery.com/compings_v2/rastudio/rastudio1701/rastudio170101901.jpg"width="304" height="291" style="padding: 50px"; data-iml="1563822714959" alt="Image result for blank image of three people" align="left">
	<p>We created this website, mainly, because we are excited by the propspect of exploring the unknown. <br> But, with opportunities to travel now greater than ever before (still speaking pre-Brexit), we are completely spoilt for choice. <br> How does anyone ever decide? <br> We have devised a simple questionnaire that offers a personalised suggestion based on your holiday preferences, to provide spark for thought and to kickstart a few ideas! <br> So don't waste long hours getting nowhere! <br> Select your favourite two features and let us narrow it down for you :) <br></p>
	<br>

	<p>Ieva's favourite travel destination: "Originially from Lithuania, I favour beach holidays; my all-time favourite hoiday location is Menorca"<br> Shauna's favourite travel destination: "Originally from the UK, but with Caribbean heritage, I am partial to the beach, my favourite destination being Tampa, Florida."<br> Fraza's favourite travel destination: "Originally from Italy, I love London and would love to visit Cornwall."<br> </p>
{% endblock %}
