{% extends 'layout.html' %}

{% block body %}
<style>
	h1 {
 	font-family: "segoe script itali";
 	text-align: center;
 	color: midnightblue;
    font-size: 40px;
    font-weight: 900
}
	h2 {
    font-size: 23px;
	text-align: center;
	font-family: "segoe script";
	color: midnightblue;
	font-weight: 900
}
	form {
	text-align: center;
	font-family: "high tower text";
	font-style: italic;
	color: black;
	font-weight: 900;
	font-size: 20px;
}
</style>

	<h1>Need Holiday Inspiration?</h1>
	<h2>Fill out our online questionnaire and arrive at a decision in minutes...</h2>


	 	<form method="POST" action="/send">
	 		<div class="form-group">
	 			What is more important to you when deciding on a holiday destination?<br>
	 			<br><input type="checkbox" name="affordability" value="affordability" checked>Affordability<br>
	 			<input type="checkbox" name="luxury" value="luxury">Luxury<br>
	 			<br>
	 			Which feature attracts you the most?<br>1. beach 2. nature 3. snow 4. nightlife 5. culture?<br>
	 			<br><input type="checkbox" name="feature1" value="Beach">1. Sea and sand please!<br>
	 			<input type="checkbox" name="feature2" value="Nature">2. What could possibly be better than the stunning outdoors?<br>
	 			<input type="checkbox" name="feature3" value="Snow">3. A ranch and some skis will do me<br>
	 			<input type="checkbox" name="feature4" value="Nightlife">4. Sleep all day and party all night!!!<br>
	 			<input type="checkbox" name="feature5" value="Culture">5. I'd take a museum over a sun tan anyday<br>
	 			<br>
	 	</div>
			<a href="/inspiration">Submit</a>
	 </form>
</div>
{% endblock %}
