{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900;
  text-align: center;
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/00/14/f2/9d/teide-volcano-in-tenerife.jpg" alt="Image result for Teide National Park, Spain" width="400" height="325" align="right" style="padding: 20px"> 
    <h2>Affordability – Nature<br>
    Teide National Park, Spain</h2>
    <p>Visit the biggest park in the Canary Islands, centred on Mount Teide, <br>the highest mountain of Spain. <br> This Mars-like landscape has a range of spectacular views and activities such as quad biking, <br>jeep safaris and paragliding. <br>If you want to appreciate the beautiful outdoors on a budget, then Teide National Park <br>should be one on your list.</p>
{% endblock %}