   {% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900;
  text-align: center;
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/0c/32/b7/belle-plagne-village.jpg" alt="Image result for La Plague, France" width="400" height="325" align="right" style="padding: 20px">
   <h2>Affordability – Ski<br>
    La Plague, France</h2>
    <p>Like skiing? Then visit the French Alps, the most stunning mountain range <br>in Europe, with a good selection of beginner pistes and great choices for the more <br>advanced skier and snowboarder.This huge area of resorts and villages make La Plague<br> a true playground for lovers of the snowy outdoors, both in summer and winter. <br>The good news is that you don’t have to mortgage your house in order to enjoy these slopes, <br>there are a range of affordable options that will take you by surprise.</p>
{% endblock %}