{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  text-align: center;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
  	<img src="https://www.sandglo.com/images/home_2.jpg" alt="Image result for Indian Shores, Florida" width="400" height="325" align="right" style="padding: 20px">
  	 <h2>Luxury – Beach<br>
    Indian Shores, Florida</h2>
  	<p>Located along the Gulf of Mexico, Indian Shores is a beautiful stretch <br>of beach with white sparkling sand in the Florida sun. <br>The fewer crowd makes it an ideal destination to watch the Florida sunset in peace. <br>With plenty of options for fine dining, boat rentals, designer fashion and water sports, <br>you can plan your holiday according to your own personal preference.</p>
</body>
</html>
{% endblock %}