{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  text-align: center;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
	<img src="https://i.pinimg.com/originals/88/98/0b/88980b88b647f322a0696e411c8f970f.jpg" alt="Image result for Vatnajokull National Park, Iceland" width="400" height="325" align="right" style="padding: 20px">
	<h2>Luxury – Nature<br>
    Vatnajokull National Park, Iceland</h2>
	<p>In Southeast Iceland, Vatnajokull is the largest National Park in Europe. <br>It features some of the most extreme and beautiful nature highlights in the world, <br>including the largest glacier in Europe, stunning peaks, cascading waterfalls, <br>gorgeous hiking trails and an awe inspiring glacial river canyon. <br>And after roughing it in the wild outdoors, come back to one of the many elegant <br> and indulgent hotels located in the surrounding area.</p>
</body>
</html>
{% endblock %}