{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
	h2 {
  font-size: 23px;
  text-align: center;
  font-family: "segoe script";
  color: midnightblue;
  font-weight: 900
}
	p  {
  font-family: "high tower text";
  text-align: center;
  color: midnightblue;
   font-size: 20px;
   font-weight: 900;
} 
</style>
</head>
<body>
	<img src="https://image.ues.bg/estates/watermark/752/8752/85524.jpg" alt="Image result for Geneva, Switzerland" width="400" height="325" align="right" style="padding: 30px">
	<h2>Luxury – Snow<br>
    Geneva, Switzerland</h2>
 	<p>Geneva is an ideal base from which to explore the charming lakeside <br>towns of Lausanne and Montreux, the beauty that is the Swiss Alps and the <br>glitz and glamour of St Moritz. With boutique wellness and <br>spa hotels, private luxury cottages and alpine chalet lodgings, <br>you have a full range of lavish options to consider.</p>
</body>
</html>
{% endblock %}